<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
</head>
<body>

<!--<div th:replace="fragments/nav :: nav"></div>-->
<div id="root" class="container">
    <div class ="row">
        <div class="twelve columns">
            <h4 id="loginheader">Login</h4>
            <div class="six columns align center">
                <label for="username">Username</label>
                <input v-model="username" class="u-full-width" type="text" placeholder="yourUserName" id="username"/>
                <label for="password">Password</label>
                <input v-model="password" class="u-full-width" type="password" id="password"/>
                <input class="u-full-width button-primary" type="submit" v-on:click="login" value="submit"/>
            </div>
        </div>
    </div>
</div>
<!--<div th:replace="fragments/footer :: foot"></div>-->
</body>
<script src = "https://unpkg.com/axios/dist/axios.min.js"></script>
<script src = "https://vuejs.org/js/vue.js"></script>

<script>
    var app = new Vue({
        el:'#root',
        data:{
            username:'',
            password:''
        },
        methods:{
            login(){
                var params = new URLSearchParams();
                params.append('grant_type', 'password');
                params.append('username', this.username);
                params.append('password', this.password);
                axios({
                    method:'post',
                    url:'oauth/token',
                    auth:{username:'my-trusted-clients', password:'secret'},
                    headers:{"content-type":"application/x-www-form-urlencoded; charset=utf-8"},
                    data:params
                }).then(function (response) {
                    document.cookie = "access_token ="+response.data.access_token+";path=/"
                });
            }
        }
    });
</script>

</html>